---
import Page from '@layouts/page';
---

<Page title='About Nakula Dive'>
  <h1>About Nakula Dive</h1>
  <p>
    Located in the lush greenery of Bogor, our dive center has been serving the local diving community since 2013. With a passion for exploring the underwater world and a commitment to safety and excellence, we've built a reputation as a top destination for divers of all levels. Our experienced instructors will guide you through every step of your diving journey, from your first breaths underwater to advanced techniques and certifications. And with guided trip to some of the most beautiful dive sites in the region, you'll have the opportunity to see a stunning variety of marine life up close.</p>
    <p>See below testimonials from our customers when they discover the wonders that lie beneath the surface!</p>
  <div class='carousel w-full'>
    <div id='slide1' class='carousel-item relative w-full'>
      <img
        src='https://res.cloudinary.com/primayuda/image/upload/v1647237038/Nakula%20Dive/Kristina_araiwg.jpg'
        class='w-full'
      />
      <div
        class='absolute bottom-0 left-0 right-0 px-4 bg-gray-800 opacity-70'
      >
        <h3 class='text-xl text-white font-bold'>Kristina - Advanced Open Water</h3>
        <p class='mt-2 text-sm text-gray-300'>
          "Tidak pernah sekalipun bermimpi untuk belajar diving..cuman sekali snorkelling di Bunaken ternyata membuat aku jadi tertarik untuk belajar diving. Nakula.. tahu dari teman dan sangat reff untuk belajar disitu. "kalo belajar ya sekalian yang benar instrukturnya" .. ternyata Nakula tempat yang tepat untuk diver pemula kaya aku.."
        </p>
      </div>

      <div
        class='absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2'
      >
        <a href='#slide4' class='btn btn-circle'>❮</a>
        <a href='#slide2' class='btn btn-circle'>❯</a>
      </div>
    </div>
    <div id='slide2' class='carousel-item relative w-full'>
      <img
        src='https://res.cloudinary.com/primayuda/image/upload/v1647237115/Nakula%20Dive/Andreas.jpg'
        class='w-full'
      />
			<div
        class='absolute bottom-0 left-0 right-0 px-4 bg-gray-800 opacity-70'
      >
        <h3 class='text-xl text-white font-bold'>Andreas - Rescue Diver</h3>
        <p class='mt-2 text-sm text-gray-300'>
          Traning to dive with Nakula Dive Center provides a fun and reassuring experience. with certified professional trainer, they sort out all the details, technical things learned and trained in respect to the safety and security. At the end, Nakula Dive Center brought me to see the beautiful blue sapphire of the sea and enjoying the amazin underwater world that can only be felt and enjoyed directly, provide and unforgettable experience.</p>
      </div>
      <div
        class='absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2'
      >
        <a href='#slide1' class='btn btn-circle'>❮</a>
        <a href='#slide3' class='btn btn-circle'>❯</a>
      </div>
    </div>
    <div id='slide3' class='carousel-item relative w-full'>
      <img
        src='https://res.cloudinary.com/primayuda/image/upload/v1647237095/Nakula%20Dive/Deges.jpg'
        class='w-full'
      />
      <div
        class='absolute bottom-0 left-0 right-0 px-4 bg-gray-800 opacity-70'
      >
        <h3 class='text-xl text-white font-bold'>Deges - Advanced Open Water</h3>
        <p class='mt-2 text-sm text-gray-300'>
          "Berawal dari pencarian guru menyelam, saya nemu website "Nakula Dive Center". Saya pun berkenalan dengan instruktur.. mas Prima. Metoda belajar yang diterapkan serius tapi santai. Dengan waktu yang cukup singkat, dari yang bener2 "buta" mengenai menyelam, akhirnya saya mulai bisa dan sekarang menikmati aktivitas menyelam yang luar biasa ini. Thanks berat Nakula Dive"</p>
      </div>
      <div
        class='absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2'
      >
        <a href='#slide2' class='btn btn-circle'>❮</a>
        <a href='#slide4' class='btn btn-circle'>❯</a>
      </div>
    </div>
    <div id='slide4' class='carousel-item relative w-full'>
      <img
        src='https://res.cloudinary.com/primayuda/image/upload/v1674550902/Nakula%20Dive/Myrna_gz6pf4.jpg'
        class='w-full'
      />
      <div
        class='absolute bottom-0 left-0 right-0 px-4 bg-gray-800 opacity-70'
      >
        <h3 class='text-xl text-white font-bold'>Myrna - Open Water</h3>
        <p class='mt-2 text-sm text-gray-300'>
          "Bersyukur akhirnya belajar diving di Nakula Dive, Instrukturnya selain sangat menguasai ilmu, skill dan teknik diving, juga mempunyai kesabaran dalam melatih saya. Hal ini berpengaruh besar dalam keberanian dan kenyamanan saya dalam belajar diving. Dengan kendala kesehatan yang saya miliki, tadinya belajar diving adalah sesuatu yang mustahil, setelah seluruh keluarga saya mengambil lisensi di sini, sayapun tergerak untuk mencoba belajar diving. Dengan kesabaran dan pengetahuan yang mendalam intrukturnya mengenai diving, saya juga merasa aman saat belajar"</p>
      </div>
      <div
        class='absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2'
      >
        <a href='#slide3' class='btn btn-circle'>❮</a>
        <a href='#slide1' class='btn btn-circle'>❯</a>
      </div>
    </div>
  </div>
</Page>
