---
import Page from '@layouts/page';
---

<style>
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
<Page title='Contact us'>
  <h1>Contact us</h1>
  <p>Come visit Nakula Dive at Jalan Nakula Raya 9A, Indraprasta, Bogor</p>
  <div class="map-responsive">
    <iframe
      src='https://www.google.com/maps/d/embed?mid=1O-EUABlnZk1s1xrmPA7wTM1cSZRQ_rSE&ehbc=2E312F'
      width='640'
      height='480'></iframe>
  </div>
	<p>Leave a message below or contact us through any channel in the footer</p>
	<form class="p-10 bg-white rounded-lg drop-shadow-lg space-y-3" action="https://api.web3forms.com/submit" method="POST">
		<!-- Web3form key -->
		<input type="hidden" name="access_key" value="eb5a665b-b112-43f1-8b96-58198c86ed5e">

		<!-- Name -->
		<div class="form-control w-full max-w-lg">
			<label class="label">
				<span class="label-text">What is your name?</span>
				<span class="label-text-alt text-red-500">required</span>
			</label>
			<input type="text" name="name" required placeholder="Type here" class="input input-bordered w-full max-w-lg focus:input-primary" />
			<!-- <label class="label">
				<span class="label-text-alt text-red-500 invisible peer-invalid:visible">Please enter your name</span>
			</label> -->
		</div>

		<!-- Email -->
		<div class="form-control w-full max-w-lg">
			<label class="label">
				<span class="label-text">What is your email?</span>
				<span class="label-text-alt text-red-500">required</span>
			</label>
			<input type="email" name="email" required placeholder="Type here" class="input input-bordered w-full max-w-lg focus:input-primary" />
			<!-- <label class="label">
				<span class="label-text-alt text-red-500 invisible peer-invalid:visible">Please enter your name</span>
			</label> -->
		</div>

		<!-- Mobile/WA -->
		<div class="form-control w-full max-w-lg">
			<label class="label">
				<span class="label-text">What is your mobile/WA?</span>
			</label>
			<input type="tel" name="mobile" placeholder="Type here" class="input input-bordered w-full max-w-lg focus:input-primary" />
			<!-- <label class="label">
				<span class="label-text-alt text-red-500 invisible peer-invalid:visible">Please enter your name</span>
			</label> -->
		</div>

		<!-- Message -->
		<div class="form-control">
			<label class="label">
				<span class="label-text">Your message</span>
			</label>
			<textarea class="textarea textarea-bordered textarea-md focus:textarea-primary h-24 max-w-lg" name="message" placeholder="Type your message here..."></textarea>
			
		</div>
		<input type="hidden" name="redirect" value="http://localhost:3000/thanks">

		<!-- Honeypot -->
		<input type="checkbox" name="botcheck" class="hidden" style="display: none;">
		
		<button type="submit" class="px-5 py-1 bg-blue-800 text-white">Send</button>
</form>


</Page>
