---
import Page from '@layouts/page';
---

<style>
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
<Page title='Contact us'>
  <h1>Contact us</h1>
  <p>Come visit Nakula Dive at Jalan Nakula Raya 9A, Indraprasta, Bogor</p>
  <div class="map-responsive">
    <iframe
      src='https://www.google.com/maps/d/embed?mid=1O-EUABlnZk1s1xrmPA7wTM1cSZRQ_rSE&ehbc=2E312F'
      width='640'
      height='480'></iframe>
  </div>
	<p>Leave a message below or contact us through any channel in the footer</p>
	<form class="p-10 bg-white rounded-lg drop-shadow-lg space-y-1" action="https://api.web3forms.com/submit" method="POST">
		<!-- Web3form key -->
		<input type="hidden" name="access_key" value="eb5a665b-b112-43f1-8b96-58198c86ed5e">

		<!-- Name -->
		<div class="flex flex-col">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" required class="peer border border-slate-400">
				<p class="invisible peer-invalid:visible text-red-700 font-light">
						Please enter your name
				</p>
		</div>

		<!-- Email -->
		<div class="flex flex-col">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" required class="peer border border-slate-400">
				<p class="invisible peer-invalid:visible text-red-700 font-light">
						Please enter a valid email address
				</p>
		</div>

		<!-- Mobile/WA -->
		<div class="flex flex-col">
				<label for="email">Mobile/WhatsApp</label>
				<input type="tel" name="phone" id="phone" class="peer border border-slate-400">
				<p class="invisible peer-invalid:visible text-red-700 font-light">
						Please enter a valid phone number
				</p>
		</div>

		<!-- Message -->
		<div class="flex flex-col">
				<label for="message">Message</label>
				<textarea name="message" id="message" cols="30" rows="3" 
						class="peer border border-slate-40 text-blue-900"></textarea>
				<p></p>
	
		</div>
		<input type="hidden" name="redirect" value="http://localhost:3000/thanks">

		<!-- Honeypot -->
		<input type="checkbox" name="botcheck" class="hidden" style="display: none;">
		
		<button type="submit" class="px-5 py-1 bg-blue-800 text-white">Send</button>
</form>


</Page>
