---
import Page from "@layouts/page";
---
<Page title="Thank you">
  <section class="grid place-items-center text-center overflow-hidden mt-9">
    <img src="https://res.cloudinary.com/primayuda/image/upload/v1647237057/Nakula%20Dive/logo_Nakula_kpxf4o.png" class="w-64 dark:backdrop-white" />
    <h1 class="my-8 text-5xl font-semibold">Terima kasih</h1>
    <h2 class="text-2xl dark:text-zinc-300 mb-5">Kami akan segera hubungi anda kembali.</h2>
    <a
      href="/"
      class="dark:bg-zinc-800 bg-zinc-200 rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-blue-500 hover:ring-opacity-100"
      >Kembali ke beranda</a
    >
  </section>
</Page>
