---

---
<footer class="footer footer-center p-2">
  
  <div>
    <span class="footer-title">Contact</span>
    <div class="flex flex-row gap-2">
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </div>
  </div>
  <div>
    <span class="footer-title">Copyright</span> 
    <a class="link link-hover" href="https://primayuda.site/" target="_blank">Primayuda</a>
  </div>  
</footer>