---
// import { Icon } from "astro-icon";
---
<footer class="footer footer-center p-2">
  
  <div>
    <span class="footer-title">Contact</span>
    <div class="flex flex-row gap-2">
      <a class="link link-hover" href="https://wa.me/62811104584" target="_blank">WhatsApp</a>
      <a class="link link-hover" href="https://www.instagram.com/nakuladive/" target="_blank">Instagram</a>
      <a class="link link-hover" href="mailto:aprita.primayuda@gmail.com">Email</a>
    </div>
  </div>
  <div>
    <span class="footer-title">Copyright</span> 
    <a class="link link-hover" href="https://primayuda.site/" target="_blank">Primayuda</a>
  </div>  
</footer>