<div class="hero min-h-screen" style="background-image: url(https://res.cloudinary.com/primayuda/image/upload/v1647236925/Nakula%20Dive/DSC_0104_etpvih.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-white">Welcome</h1>
      <p class="text-3xl">Follow your dream and explore your passion.</p>
      <p>Learn to dive and explore the beautiful underwater world.</p>
      <a href="/contact" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>